@{
    ViewData["Title"] = "Dashboard";
    ViewData["ParentTitle"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-body">
    <!-- CRM stats -->
    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        Hello
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>